@use "./clamp.scss" as *;
@use "./variables.scss" as vars;

$defaultBorder: lighten(#000000, 30%);

@media (width < 100px) {

    .schedule .lessonTime.break .start {
        left: 1px !important;
    }


    .schedule .lessonTime.break .end {
        right: 1px !important;
    }

    .schedule .lessonTime {
        font-size: clampW(0.5em, 0.7em, 100px, 500px) !important;
        // font-size: 60% !important;
    }

}

@media (width < 450px) {
    .breakLabel {
        display: none !important;
    }
}

@media (width < 650px) {
    .lesson {
        margin: 1px !important;
        width: calc(100% - 2px) !important;
    }
}

@media (width < 550px) {
    .lesson {
        padding: 1px !important;
    }

    .lesson:has(+ .moreLessons) {
        width: calc(80% - 1px) !important;

        &+.moreLessons {
            padding: 0;
            margin: 1px;
        }
    }
}

@media (width < 450px) {
    .lesson {
        padding: 2px !important;
        border-width: 2px !important;
    }
}

@media (width < 1100px) {
    .lesson {
        grid-column-gap: 0px !important;

        .room {
            text-align: right !important;
        }

        .teacher {
            text-align: left !important;
        }
    }

}

@media (width < 760px) {
    .lesson:has(+ .moreLessons) {
        display: none !important;

        &+.moreLessons {
            width: calc(100% - 10px);
            position: relative;

            &::after {
                content: attr(data-lessonCount) " Lessons";
                position: absolute;
                top: 80%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: clampW(0.5em, 0.7em, 100px, 500px);
                text-wrap: nowrap;
            }
        }
    }
}

@media (width < 400px) {
    .lesson+.moreLessons::after {
        content: "+ " attr(data-lessonCount) !important;
    }
}

@media (height < 650px) and (width < 375px) {
    .schedule {
        // --minutesToDisplayOnScreen: calc(var(--totalMinutes) / 1.5) !important;

        --pixelPerMinute: var(--windowWidth)/(var(--totalMinutes)/1.5) !important;
    }
}

@media (width < 400px) {
    .lesson.infoTextHidden {
        display: grid;
        grid-template-columns: 1fr !important;
        grid-template-rows: repeat(3, 1fr) !important;
        grid-column-gap: 0px !important;
        grid-row-gap: 0px !important;

        .subjectShort {
            grid-area: 1 / 1 / 2 / 2 !important;
            font-size: clampW(0.1em, 0.6em, 10px, 500px) !important;
        }

        .teacher {
            grid-area: 2 / 1 / 3 / 2 !important;
            text-align: center !important;
            font-size: clampW(0.1em, 0.6em, 10px, 500px) !important;
        }

        .room {
            grid-area: 3 / 1 / 4 / 2 !important;
            text-align: center !important;
            font-size: clampW(0.1em, 0.6em, 10px, 500px) !important;
        }

    }
}


@container lessonContainer (width < 100px) {
    .subject {
        display: none !important;
    }

    .subjectShort {
        display: block !important;
    }
}

@container lessonTimeContainer (width < 120px) {
    .start {
        left: 5px !important;
    }

    .end {
        right: 5px !important;
    }
}

@container lessonTimeContainer (width < 80px) {
    .start {
        top: 25% !important;
        left: 5px !important;
    }

    .end {
        top: 75% !important;
        right: 5px !important;
    }
}


@media (width < 625px) {
    .header {
        .shortName {
            display: inline !important;
        }

        .longName {
            display: none !important;
        }
    }
}

@media (height < 600px) {
    #titleBar {
        --titleBarHeight: 8vh !important;
        height: 8vh !important;
    }

    #timeSchedule {
        --titleBarHeight: 8vh !important;
    }
}

@media (height < 700px) {
    #timeSchedule {
        height: calc(100vh - var(--titleBarHeight) - 5px) !important;
    }
}

@media (width < 500px) {
    #timeSchedule {
        width: 100% !important;
    }

    body {
        padding: 0px !important;
    }
}

@media (width < 350px) and (width >=400px) {
    #notificationsBell {
        top: unset !important;
        bottom: 20px;

        .notificationList {
            top: -20px;
            transform: translate(0%, -100%) !important;
            border-radius: 10px !important;
        }

    }
}

@media (width < 400px) {

    #notificationsBell:not(:hover) {
        .notificationList {
            opacity: 1 !important;
            visibility: visible !important;
        }
    }

    #notificationsBell {
        cursor: pointer;

        .notificationList {
            position: fixed !important;
            left: 0 !important;
            width: 100% !important;
            height: 80vh !important;
            transform: translate(0%, 0%) !important;
            min-width: 100vw !important;
            max-width: 100vw !important;
            backdrop-filter: blur(20px) !important;
            border-radius: 10px !important;
            top: 110vh;
            transition: top 0.3s ease-in-out !important;
            box-shadow: 0 4px 10px vars.$themeColor !important;

            .markAllRead {
                position: sticky !important;
                top: 0 !important;
                width: 100% !important;
                background: vars.$gray-900 !important;
                backdrop-filter: blur(10px) !important;
                text-align: center !important;
                margin-top: 0 !important;
                padding-inline: 0 !important;
                padding-block: 10px !important;
                box-shadow: 0 -6px 10px white !important;
            }

        }

        .notificationList.open {

            top: 20vh !important;
        }
    }
}

@media (width < 290px) {

    #notificationsBell:not(:hover) {
        .notificationList {
            opacity: 1 !important;
            visibility: visible !important;
        }
    }

    #notificationsBell {
        cursor: pointer;

        .notificationList {
            position: fixed !important;
            left: 0 !important;
            width: 100% !important;
            height: 80vh !important;
            transform: translate(0%, 0%) !important;
            min-width: 100vw !important;
            max-width: 100vw !important;
            backdrop-filter: blur(20px) !important;
            border-radius: 10px !important;
            top: 110vh;
            transition: top 0.3s ease-in-out !important;
        }

        .notificationList.open {

            top: 20vh !important;
        }
    }

    header.hamburger {
        left: 2px !important;
    }
}


// Settings mobile style


@media (width < 800px) {

    #untisAccesses,
    #contents[selectedtab="untisAccesses"] {
        display: none;
    }
}

@media (width < 600px) {
    #contents .settings-tools-excuse-system-element {

        .fromCell,
        .toCell,
        .from,
        .to {
            visibility: collapse !important;
            width: 0;
            max-width: 0;
            min-width: 0;
        }
    }
}

@media (width < 520px) {
    #contents .settings-tools-excuse-system-element {

        .lessonsmissed,
        .daysIllCell {
            visibility: collapse !important;
            width: 0;
            max-width: 0;
            min-width: 0;
        }
    }
}

@media (width < 420px) {

    #tools,
    #contents[selectedtab="tools"] {
        display: none;
    }
}

@media (width < 650px) {

    #schedule,
    #contents[selectedtab="schedule"] {
        display: none;
    }
}

@media (width < 650px) {
    .settings-break-list {
        table tr td:nth-of-type(4) {
            visibility: collapse;
            max-width: 0;
            min-width: 0;
            width: 0;
        }
    }
}

@media (width < 560px) {

    #breaks,
    #contents[selectedtab="breaks"] {
        display: none;
    }
}

@media (width < 750px) {
    .settings-exam-list table tr td:nth-of-type(4) {
        visibility: collapse;
        max-width: 0;
        min-width: 0;
        width: 0;
    }
}

@media (width < 500px) {
    .settings-exam-list table tr td:nth-of-type(2) {
        visibility: collapse;
        max-width: 0;
        min-width: 0;
        width: 0;
    }
}

@media (width < 400px) {

    #exams,
    #contents[selectedtab="exams"] {
        display: none;
    }
}

@media (width < 500px) {

    #teachers,
    #contents[selectedtab="teachers"] {
        display: none;
    }
}


@media (width < 800px) {

    #appearance,
    #contents[selectedtab="appearance"] {
        display: none;
    }
}

@media (width < 800px) {
    #contents[selectedtab="notifications"] {

        // display: none;
        #notificationTextLayout {
            display: none;
        }
    }
}

@media(width < 700px) {
    #settingsList {
        button {
            padding-inline: 10px !important;
        }
    }
}

@media(width < 550px) {
    #subscribedDevicesTitle {
        display: none;
    }

    .settings-title-element-wrapper:not(:first-of-type) {
        margin-top: 10%;

        .settings-title-element {
            font-size: 150%;
        }
    }

    #examReminderTimes {
        border-top: none !important;
    }

    #settingsDialog {
        grid-template-columns: 30% 70% !important;
    }

    #settingsList {
        button {
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

    .settings-element {
        display: grid;
        grid-template-columns: 1fr !important;
        grid-template-rows: repeat(4, auto) !important;
        grid-column-gap: 0px !important;
        grid-row-gap: 0px !important;

        .settings-title {
            grid-area: 1 / 1 / 2 / 2;
            text-align: center;
        }

        .settings-label {
            grid-area: 2 / 1 / 3 / 2;
            text-align: center;
        }

        .settings-input,
        .settings-textField-input {
            grid-area: 3 / 1 / 4 / 2;
            width: 100%;
        }

        .settings-description {
            grid-area: 4 / 1 / 5 / 2;
            text-align: center;
        }
    }
}


// Untis


@media (width < 1200px) {
    #insidePopInfo {
        min-width: 60vw !important;
    }
}

@media (height < 700px) {
    #insidePopInfo {
        min-height: 60vh !important;
    }
}

@media (height < 700px) {
    #menuOverlay {
        height: 8%;
        min-height: 50px;
    }
}

@media(width < 900px) {
    // #grades {
    // .add-grade-btn {
    //     bottom: 10px;
    //     left: 10px;
    //     top: unset !important;
    //     right: unset !important;
    // }
    // }

    #grades {
        .convertGrades {
            position: static !important;
        }

        .add-grade-btn {
            position: static !important;
        }

        .gradeButtonWrapper {
            position: fixed;
            bottom: 0;
            width: 100%;
            padding: 10px;
            left: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            gap: 10px;
            background-color: vars.$gray-800;
            height: 61px
        }

        height: calc(100% - 50px) !important;
    }
}

@media (width < 600px) {
    #grades {
        .currentFinalGradeWrapper {

            .averageGrade,
            .percentGood {
                display: none !important;
            }
        }
    }
}

@media (width < 370px) {
    #grades {
        .currentFinalGradeWrapper {
            position: relative;
            // .totalPoints,
            // .gradeDeviation {
            //     display: none !important;
            // }

            .gradeCircleWrapper {
                height: 80% !important;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) !important;
            }

            .totalPoints .gradeDisplay::after,
            .gradeDeviation .gradeDisplay::after,
            .currentGrade .gradeDisplay::after {
                font-size: clampW(0.5em, 3em, 100px, 400px) !important;
            }

            justify-content: center !important;
            aspect-ratio: 1/1 !important;

            .totalPoints {
                animation: fadeInOut 15s linear 0ms infinite;
                opacity: 0;
            }

            .gradeDeviation {
                animation: fadeInOut 15s linear 5s infinite;
                opacity: 0;
            }

            .currentGrade {
                animation: fadeInOut 15s linear 10s infinite;
                opacity: 0;
            }

        }
    }

    @keyframes fadeInOut {
        0% {
            opacity: 0;
        }

        3% {
            opacity: 1;
        }

        33% {
            opacity: 1;
        }

        36% {
            opacity: 0;
        }
    }

}

@media (width < 450px) {
    #grades {
        table td {
            font-size: clampW(0.2em, 0.6em, 100px, 450px);
        }
    }
}

@media (width < 300px) {
    #grades {
        .convertGrades {
            position: static !important;
            width: 100%;
        }

        .add-grade-btn {
            position: static !important;
            width: 100%;
        }

        .gradeButtonWrapper {
            position: fixed;
            bottom: 0;
            width: 100%;
            padding: 10px;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 10px;
            background-color: vars.$gray-800;
            height: 125px
        }

        height: calc(100% - 125px) !important;
    }
}