@use "./Variables.scss" as vars;
@use "./clamp.scss" as *;


#grades {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;

    button {
        padding: 10px;
        color: white;
        background-color: vars.$gray-600;
        border-radius: 10px;
        font-size: 110%;
        cursor: pointer;
    }

    button:hover {
        background-color: lighten(vars.$gray-600, 10%);
    }

    button:active {
        background-color: darken(vars.$gray-600, 10%);
    }

    .add-grade-btn {
        position: fixed;
        top: 10px;
        right: 10px;
    }

    .currentFinalGradeWrapper {


        width: 100%;
        aspect-ratio: 6/1;
        max-height: 400px;
        min-height: 100px;
        $bgColor: vars.$gray-800;
        background-color: $bgColor;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .gradeCircleWrapper {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &.averageGrade,
            &.percentGood {
                // scale: 0.6;
                transform: scale(0.6);
                padding-inline: 0px;
            }

            &.totalPoints,
            &.gradeDeviation {
                // scale: 0.8;
                transform: scale(0.8);
            }

            &.totalPoints,
            &.averageGrade {
                transform-origin: right center;
            }

            &.gradeDeviation,
            &.percentGood {
                transform-origin: left center;
            }

            /* Grade 1 */
            .gradeDisplay[data-grade-css="veryGood"] {
                background-color: #2ecc71;
            }

            /* Grade 2 */
            .gradeDisplay[data-grade-css="good"] {
                background-color: #1e8348;
            }

            /* Grade 3 */
            .gradeDisplay[data-grade-css="satisfactory"] {
                background-color: #f1c40f;
            }

            /* Grade 4 */
            .gradeDisplay[data-grade-css="passing"] {
                background-color: #e67e22;
            }

            /* Grade 5 */
            .gradeDisplay[data-grade-css="poor"] {
                background-color: #e74c3c;
            }

            /* Grade 6 */
            .gradeDisplay[data-grade-css="failing"] {
                background-color: #c0392b;
            }


            .gradeDisplay[data-couldnotcalc] {
                background-color: vars.$gray-600;
            }

            .gradeDisplay {
                height: 80%;
                aspect-ratio: 1 / 1;
                border-radius: 100%;
                position: relative;
                transition: background-color 1s ease-in-out;
                margin-inline: 20px;
                margin-bottom: 5px;

                $circleThickness: 10%;

                &::after {
                    content: attr(data-points);
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background-color: $bgColor;
                    width: calc(100% - $circleThickness);
                    aspect-ratio: 1 / 1;
                    border-radius: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: clampW(0.5em, 3.5em, 100px, 2000px);
                    animation: gradeTransition 5s linear 0ms infinite forwards;
                }

                &[data-couldnotcalc]::after {
                    content: "-----" !important;
                    color: white;
                    animation: none !important;
                }

                &[data-onlyValue]::after {
                    content: attr(data-value) !important;
                    color: white;
                    animation: none !important;
                }

            }

            .subtitle {
                // position: absolute;
                // bottom: 0px;
                color: white;
                height: 15%;
                // left: 50%;
                // transform: translate(-50%, 0%);
                font-size: clampW(0.5em, 1.5em, 100px, 2000px);
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                text-wrap: nowrap;
                margin-bottom: 5%;
            }
        }

    }


    table {
        width: calc(100% - 40px);
        margin-left: 20px;
        color: white;
        border-collapse: collapse;

        thead tr td:last-of-type {
            width: 5%;
            min-width: 20px;
            max-width: 70px;
        }

        tbody tr:not(.detailsForSubject):nth-of-type(2n) {
            background-color: vars.$gray-700;
        }

        .dropDownDivLeft,
        .dropDownDivRight {
            position: relative;
        }

        .dropDownDivLeft::after,
        .dropDownDivRight::after {
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: 200%;
        }

        $transitionTime: 0.2s;

        .dropDownDivLeft::after {
            content: ">";
            transform: translate(-50%, -50%) rotate(0deg);
            transition: transform $transitionTime ease-in-out;
        }

        .dropDownDivRight::after {
            content: ">";
            transform: translate(-50%, -50%) rotate(180deg);
            transition: transform $transitionTime ease-in-out;
        }

        .detailsForSubject {
            transition: opacity $transitionTime ease-in-out, visibility $transitionTime ease-in-out;
            visibility: collapse;
            opacity: 0;
        }

        @supports (-webkit-touch-callout: none) and (-webkit-appearance: none) {
            .detailsForSubject {
                display: none;
            }
        }

        tr:has(+.detailsForSubject) {

            .dropDownDivLeft,
            .dropDownDivRight {
                cursor: pointer;
            }
        }

        .detailsForSubject .additionalExcuse {
            background-color: color-mix(in srgb, vars.$themeColor 25%, vars.$gray-800 75%) !important;
        }

        .detailsForSubject>td {
            margin: 0;
            padding: 0;
        }

        .detailsForSubject table {
            margin-inline: 5%;
            width: 90%;

            tbody tr:nth-of-type(2n) {
                background-color: darken(vars.$gray-700, 2.5%);
            }

            tbody tr:nth-of-type(2n+1) {
                background-color: darken(vars.$gray-600, 2.5%);
            }

            .lessonCountCell {
                text-align: center;
            }

            td.very-strong {
                color: #e74c3c;
            }

            td.strong {
                color: #e67e22;
            }

            td.medium {
                color: #f1c40f;
            }

            td.low {
                color: #1e8348;
            }

            td.very-low {
                color: #2ecc71;
            }

        }

        tr.open {

            .dropDownDivLeft::after {
                transition: transform $transitionTime ease-in-out;
                transform: translate(-50%, -50%) rotate(90deg);
            }

            .dropDownDivRight::after {
                transition: transform $transitionTime ease-in-out;
                transform: translate(-50%, -50%) rotate(90deg);
            }

            &+.detailsForSubject {
                transition: opacity $transitionTime ease-in-out, visibility $transitionTime ease-in-out;
                visibility: visible;
                opacity: 1;
            }

            @supports (-webkit-touch-callout: none) and (-webkit-appearance: none) {
                &+.detailsForSubject {
                    display: table-row;
                }
            }

        }

    }

    .convertGrades {
        position: fixed;
        bottom: 10px;
        right: 10px;
    }

}


@keyframes gradeTransition {
    0% {
        content: attr(data-points);
        color: transparent;
    }

    5% {
        content: attr(data-points);
        color: white;
    }

    45% {
        content: attr(data-points);
        color: white;
    }

    49% {
        content: attr(data-points);
        color: transparent;
    }

    51% {
        content: attr(data-grade);
        color: transparent;
    }

    55% {
        content: attr(data-grade);
        color: white;
    }


    95% {
        content: attr(data-grade);
        color: white;
    }

    100% {
        content: attr(data-grade);
        color: transparent;
    }
}


.converterWrapper {
    .converterDialog {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr auto 0.5fr;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        min-width: min-content;
        max-width: 600px;

        .gradeInputWrapper {
            grid-area: 4 / 1 / 5 / 3;
            height: min-content;
            display: flex;
            gap: 10px;
            flex-wrap: wrap;
        }


        .gradeInputWrapper input {
            width: 100%;
        }

        button,
        input,
        select {
            color: white;
            outline: none;
            border: none;
            border-radius: 10px;
        }

        .inputWithLabel-wrapper {
            height: min-content;
            flex-grow: 1;
        }

        .inputWithLabel-wrapper::before {
            background-color: vars.$gray-700;
        }

        input {
            background-color: vars.$gray-700;
        }

        button {
            background-color: vars.$gray-800;
            cursor: pointer;
        }

        button:hover {
            background-color: lighten(vars.$gray-800, 10%);
        }

        button:active {
            background-color: darken(vars.$gray-800, 10%);
        }

        .title {
            grid-area: 1 / 1 / 2 / 3;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .gradeInputWrapper {
            grid-area: 2 / 1 / 3 / 3;
        }

        .closeBtn {
            grid-area: 3 / 2 / 4 / 3;
        }

    }
}

.addGradeDialog {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr auto auto 0.5fr;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
    min-width: min-content;
    max-width: 600px;

    .title {
        grid-area: 1 / 1 / 2 / 3;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .subject {
        grid-area: 2 / 1 / 3 / 3;
        max-height: 50px;
        min-height: min-content;
        background-color: vars.$gray-600;
        outline: none;
        border: none;
    }

    .weightInputWrapper {
        grid-area: 3 / 1 / 4 / 3;
    }

    .gradeInputWrapper {
        grid-area: 4 / 1 / 5 / 3;
        height: min-content;
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
    }

    .cancelBtn {
        grid-area: 5 / 1 / 6 / 2;
    }

    .addBtn {
        grid-area: 5 / 2 / 6 / 3;
    }

    .weightInputWrapper input,
    .inputWithLabel-wrapper input {
        width: 100%;
    }

    button,
    input,
    select {
        color: white;
        outline: none;
        border: none;
        border-radius: 10px;
    }

    .inputWithLabel-wrapper {
        height: min-content;
        flex-grow: 1;
    }

    .inputWithLabel-wrapper::before {
        background-color: vars.$gray-700;
    }

    input {
        background-color: vars.$gray-700;
    }

    button {
        background-color: vars.$gray-800;
        cursor: pointer;
    }

    button:hover {
        background-color: lighten(vars.$gray-800, 10%);
    }

    button:active {
        background-color: darken(vars.$gray-800, 10%);
    }

}