@media print {

    html,
    body {
        background-color: white;
        margin: 0 !important;
        padding: 0 !important;
        padding-inline: 0 !important;
    }

    html body *:not(.printCanvas) {
        display: none !important;
    }

    .printCanvas {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        z-index: 1000000000000000000;
        object-fit: contain;
    }
}