@use "./Variables.scss" as vars;

.walk-bgDiv {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(4px);
    z-index: 1000000000;
    pointer-events: all;
}

.interactionTarget {
    // pointer-events: none;
}

.walk-step {
    background-color: vars.$gray-900;
    color: white;
    padding: 10px;
    position: fixed;
    z-index: 100000000000000000000;
    border-radius: 20px;
    border: 3px solid vars.$themeColor;
    transition: opacity 0.2s ease-in-out, top 0.2s ease-in-out, left 0.2s ease-in-out, width 0.2s ease-in-out, height 0.2s ease-in-out;
    opacity: 1;
    width: 20vw;
    min-width: 200px;
    max-width: 600px;

    &.hidden {
        opacity: 0;
        pointer-events: none;
    }

    &.centered {
        width: 40vw;
        height: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &:not(.centered) {

        &.centeredHorizontally {
            left: max(calc(var(--left) + var(--width) / 2 - max(var(--width), 200px)/2), 0px) !important;
            width: var(--width);
            min-width: 200px;
            max-width: 100vw;

            &.useLeft {
                &.useBottom {
                    transform: none;
                }

                &.useTop {
                    transform: translate(0%, -100%);
                }
            }

        }

        &.useTop {
            &.centeredHorizontally {
                border-bottom-right-radius: 0px;
                border-bottom-left-radius: 0px;
            }
        }

        &.useBottom {

            &.centeredHorizontally {
                border-top-right-radius: 0px;
                border-top-left-radius: 0px;
            }
        }

        &.useTop {
            &.useLeft {
                top: var(--top);
                left: var(--left);
                transform: translate(-100%, -100%);
                border-bottom-right-radius: 0px;
            }

            &.useRight {
                top: var(--top);
                left: calc(var(--left) + var(--width));
                transform: translateY(-100%);
                border-bottom-left-radius: 0px;
            }
        }

        &.useBottom {
            &.useLeft {
                top: calc(var(--top) + var(--height));
                left: var(--left);
                transform: translateX(-100%);
                border-top-right-radius: 0px;
            }

            &.useRight {
                top: calc(var(--top) + var(--height));
                left: calc(var(--left) + var(--width));
                border-top-left-radius: 0px;
            }
        }
    }

    .nextBtn.textContent {
        justify-self: left;
        padding-inline: 10px;
        background-color: vars.$themeColor-10-Dark;
        border: vars.$themeColor !important;
        border-radius: 10px;
        margin-left: auto;
        box-shadow: 0 0 5px vars.$themeColor !important;
    }

    .nextBtn.textContent:hover {
        color: darken(white, 60%);
        box-shadow: 0 0 9px vars.$themeColor !important;
    }

    .nextBtn.textContent:active {
        color: darken(white, 20%);
        box-shadow: 0 0 10px vars.$themeColor !important;
    }

    .nextBtn,
    .prevBtn {
        height: 3vh;
        aspect-ratio: 1;
        font-size: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        background-color: vars.$gray-900;
    }

    .nextBtn:hover,
    .prevBtn:hover {
        color: darken(white, 40%);
    }

    .nextBtn:active,
    .prevBtn:active {
        color: darken(white, 20%);
    }

    .nextBtn:not(.textContent) {
        transform: rotate(90deg);
        justify-self: right;
    }

    .prevBtn {
        transform: rotate(-90deg);
        justify-self: left;
    }

    button {
        border: none;
        padding: 5px;
        margin: 5px;
        outline: none;
        color: white;
        background-color: vars.$gray-700;
        cursor: pointer;
    }

    b {
        color: vars.$themeColor;
        font-weight: bolder;
    }

    .currentProgress {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 110%;
    }

}

.walk-image-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 3fr auto 0.5fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    .image {
        grid-area: 1 / 1 / 2 / 4;
    }

    .text {
        grid-area: 2 / 1 / 3 / 4;
        text-align: center;
    }

    .prevBtn {
        grid-area: 3 / 1 / 4 / 2;
    }

    .currentProgress {
        grid-area: 3 / 2 / 4 / 3;
    }

    .nextBtn {
        grid-area: 3 / 3 / 4 / 4;
    }

}


.walk-text-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    .text {
        grid-area: 1 / 1 / 2 / 4;
        text-align: center;
    }

    .prevBtn {
        grid-area: 2 / 1 / 3 / 2;
    }

    .currentProgress {
        grid-area: 2 / 2 / 3 / 3;
    }

    .nextBtn {
        grid-area: 2 / 3 / 3 / 4;
    }
}


.walk-interactive-wrapper {}